---
import Section from "./Section.astro";
---

<Section title="Solar y Powerwall" subtitle="Energía para todos" color="black">
    <div slot="footer" class="flex gap-4">
        <a  href="#" class="w-56 px-6 text-sm rounded py-2 bg-gray-800 text-white">Explorar inventario</a>        
    </div>    
    <img slot="background" class="object-cover h-screen w-full" src="/solarPanels.avif" alt="">
</Section>