---
import Section from "./Section.astro"
---
<Section title="Disfrute de Tesla" subtitle="Programe una prueba hoy mismo" color="white">
    <a slot="footer" href="#" class="w-56 px-6 text-sm rounded border-2 py-2">Prueba de conduccion</a>
    <video slot="background" class="object-cover object-center w-full h-full" autoplay loop src="/video.webm"></video>
</Section>