<section class="landing-section text-center w-full text-white relative h-screen overflow-hidden" data-header-color="white">
    <div class="relative z-20 h-full flex flex-col">
        <header >
            <h2 class="pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
            <p class="text-sm">Programe una prueba hoy mismo</p>
        </header>
        <footer class="flex flex-col flex-grow items-center pb-24 justify-end">
            <a href="#" class="w-56 px-6 text-sm rounded border-2 py-2">Prueba de conduccion</a>
        </footer>
    </div>			
    
    <div class="absolute top-0 bottom-0 w-full h-full">
        <video class="object-cover object-center w-full h-full" autoplay loop src="/video.webm"></video>
    </div>
    

</section>