---
import Section from "./Section.astro";
---

<Section title="Modelo S" subtitle="Concerta una prueba de conduccion" color="white">
    <div slot="footer" class="flex gap-4">
        <a  href="#" class="w-56 px-6 text-sm rounded py-2 bg-gray-800 text-white">Explorar inventario</a>
        <a  href="#" class="w-56 px-6 text-black text-sm rounded py-2 bg-opacity-90 bg-gray-200">Pedido personalizado</a>
    </div>
    
    <img slot="background" class="object-cover h-screen w-full" src="/Model-S.avif" alt="">
</Section>