---
import Section from "./Section.astro";
---

<Section title="Modelo X" subtitle="Programe una consulta virtual" color="black">
    <div slot="footer" class="flex gap-4">
        <a  href="#" class="w-56 px-6 text-sm rounded py-2 bg-gray-800 text-white">Pedido Personalizado</a>
        <a  href="#" class="w-56 px-6 text-black text-sm rounded py-2 bg-opacity-90 bg-gray-200">Saber mas</a>
    </div>
    
    <img slot="background" class="object-cover h-screen w-full" src="/Model-X.avif" alt="">
</Section>