<section class="landing-section text-center w-full relative h-screen overflow-hidden" data-header-color="black">
    <div class="relative z-20 h-full flex flex-col">
        <header >
            <h2 class="pt-40 text-[40px] font-medium">Model Y</h2>
            <a href="#" class="w-56 px-6 text-sm underline py-2">Concerta una prueba de conduccion</a>
        </header>
        <footer class="flex flex-grow items-end text-white pb-24 justify-center gap-4">
            <a href="#" class="w-56 px-6 text-sm rounded py-2 bg-gray-800">Explorar inventario</a>
            <a href="#" class="w-56 px-6 text-black text-sm rounded py-2 bg-opacity-90 bg-gray-200">Pedido personalizado</a>
            <!-- <a href="#" class="w-56 px-6 text-black text-sm rounded py-2 bg-opacity-90 bg-gray-200">Pedido personalizado</a> -->
        </footer>
    </div>			
    
    <div class="absolute top-0 bottom-0 w-full h-full">
        <img class="object-cover h-screen w-full" src="/Model-Y.avif" alt="">
    </div>
    

</section>